/* global page container */
.pageContainer{
    position: relative;
    border: 1px solid;
    height: 89vh;
}

/* loading */
.loadingOverlay{
    z-index: 999;
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
}

/* first visit overlay */
.firstVisitOverlay{
    position: absolute;
    z-index: 500;
    background: rgba(0,0,0,.4);
    width: 100%;
    height: 100%;
}
.firstVisitOverlay div.firstVisitCard{
    margin: 0 auto;
    top: 33%;
}

.firstVisitOverlay div.firstVisitCard a{
    text-decoration: none;
}

.loadingOverlay div{
    margin: 0 auto;
    display: block;
    top: 48%;
}

/* chat information */
.chatInformationContainer{
    position: absolute;
    bottom: 0;
    display: none;
}

/* chat connection status */
.connected{
    background: greenyellow;
    font-weight: bold;
    padding: 5px;
}
.disconnected{
    background: red;
    color: white;
    font-weight: bold;
    padding: 5px;
}

/* chat connection leave room button */
.chatLeaveRoomButtonContainer{
    display: none;
    margin: 2% 0 0 0;
}

/* read below */
.justAHeadline{
    font-size: 40pt;
    margin: 10px 0 20px 0;
    text-align: center;
}

/* login container */
.loginContainer{
    display: block;
    margin: 0 auto;
}
.loginContainer form div{
    margin: 0 auto;
    display: block;
}
.loginContainer form button{
    display: block;
    margin: 0 auto;
}

/* Chat page container */
.chatContainer{
    display: none;
    position: absolute;
    width: 100%;
    height: 89%;
}

/* message content container */
.messageContainer{
    height: 90%;
    overflow-y: scroll;
    border-top: 3px solid rgba(0,0,0,.05);
    border-bottom: 3px solid rgba(0,0,0,.05);
}
#messages{
    list-style-type: none;
}

/* message types */
/* message -> information */
.chatInformationMessage{
    font-style: italic;
    font-weight: bold;
}



/* chat input style */
#chatForm{
  bottom: 0;
  left: 0;
  outline: none;
  position: absolute;
  right: 0;
    width: 100%;
}
#chatForm div{
    width: 100%;
}
#chatInput{
    outline: none;
}
/* when field is required */
#chatInput:required{
    outline: none;
    border-bottom: 1px solid red;
}

/* clearfix */
.clearfix{
    clear: both;
}

/* squarde card template by mdl */
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}
